title:               'My digital garden'

# Change url to your root domain or subdomain including https://
url:                 'https://meewgumi.github.io'

# Change baseurl to the directory your site lives at so internal link generator creates proper relative paths.
baseurl:             'digital-garden-ghpages-template'

include:             ['_pages']
exclude:             ['_includes/notes_graph.json']
destination:        docs

# If you are using a host that cannot resolve URLs that do
# not end with .html (such as Neocities), set this to 'true'.
use_html_extension:  true

# Set to `true` to open non-internal links in new tabs, or
# set to `false` to open non-internal links in current tab.
open_external_links_in_new_tab: true

permalink:           pretty

plugins:
  - jekyll-last-modified-at

sass:
  sass_dir:          _sass
  style:            :compressed

collections:
  notes:
    output: true
    permalink: /:slug

defaults:
  - scope:
      path: "**/*"
    values:
      layout: "default"
  - scope:
      path: "_notes/**/*.md"
    values:
      layout: "note"
